body{
    margin: 0;
    font-family: 'Manrope';
}

.container{
    display: flex;
}

/*content-bottom */

.content-bottom{
    border: 2px solid #E5EAEF;
    border-radius: 20px;
    padding: 30px;
}

.periode{
    display: flex;
    align-items: center;
    color: #4F4F4F;
}

.periode .h3{
    font-weight: normal;
    width: 150px;
    font-size: 15pt;
    padding-right: 10px;
}

.periode select{
    padding: 12px;
    border: 1px solid #797979;
    border-radius: 5px;
    margin: 10px;
    width: 250px;
    color: #4F4F4F;
    text-align: center;
    font-size: 12pt;
}

.periode a{
    text-decoration: none;
}

.nama-kegiatan{
    display: flex;
    align-items: center;
    color: #4F4F4F;
    margin-top: 20px;
}

.nama-kegiatan .h3{
    font-weight: normal;
    width: 150px;
    font-size: 15pt;
    padding-right: 10px;
}

.kegiatan, .select-bulan{
    display: flex;
    text-align: center;
}

.kegiatan-dropdown, .bulan-dropdown{
    position: relative;
    width: 395px;
}


.kegiatan-button, .button-bulan{
    display: flex;
}

.kegiatan-btn, .bulan-btn{
    width: 270px;
    padding: 12px; 
    font-size: 12pt; 
    color: #4F4F4F; 
    background-color: white;
    text-align: center; 
    cursor: pointer;
}

.text-kegiatan, .text-bulan{
    border-width: 1px 0 1px 1px;
    border-style: solid;
    border-color: #797979;
    border-radius: 5px 0 0 5px;
    padding-left: 35px;
}

.v-kegiatan, .v-bulan{
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: #797979;
    border-radius: 0 5px 5px 0;
    width: 30px;
}

.kegiatan-content, .bulan-content{
    display: none;
    position: absolute;
    width: 300px;
    background-color: white; 
    margin-top: 5px;
    z-index: 1;
}

.kegiatan-option, .bulan-option{
    padding: 12px; 
    color: #4F4F4F; 
    text-align: center; 
    font-size: 12pt; 
    cursor: pointer; 
    border: 1px solid #797979;
}

.kegiatan-option:hover, .bulan-option:hover{
    background-color: #f0f0f0;
}


/* tabel rekap */

.rekap{
    border: 2px solid #E5EAEF;
    border-radius: 20px;
    padding: 30px;
    margin-top: 20px;
}

.cetak{
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 10px;
    padding-right: 60px;
    color: white;
    background-color: #7E7EFF;
    border: 1px solid #797979;
    border-radius: 5px;
    font-size: 12pt;
    cursor: pointer;
    font-size: 13pt;
    transition: background-color 0.4s;
}

.cetak img{
    margin-right: 40px;
}

.cetak:hover{
    background-color: #6a6ae0;
}

/* keterangan */

.keterangan{
    padding-top: 10px;
    color: #797979;
    width: 100px;
}

.keterangan table{
    margin: 0;
}

.keterangan .left{
    text-align: left;
}

/* tabel */

table {
    width: 100%;
    margin-top: 10px;
    text-align: center;
}

.table-header {
    background-color: #7E7EFF;
    color: white;
    height: 50px;
    cursor: pointer;
}

.no{
    width: 40px;
}

.nim {
    width: 150px;
}

.nama{
    width: 150px;
}

.prodi {
    width: 180px;
}

.status{
    width: 100px;
}

.tanggal_{
    width: 25px;
}

.no, .nim, .nama, .prodi, .status, .tanggal, .tanggal_, .status-hadir{
    transition: background-color 0.4s;
}

.no:hover, .nim:hover, .nama:hover, .prodi:hover, .status:hover, .tanggal:hover, .tanggal_:hover, .status-hadir:hover{
    background-color: #6a6ae0;
}

.header-radius-left {
    border-radius: 5px 0 0 0;
}

.header-radius-right {
    border-radius: 0 5px 0 0;
}

.row-height {
    color: #797979;
    font-size: 10pt;
    letter-spacing: 2px;
}

.row-height td {
    padding: 15px 0 15px 0;
}

.even-row {
    background-color: #ECECEC;
}
